# python dictionary

In [1]:
student={
    "name":["sanidhya","nikita","shreyash"],
    "remark":["ok","good","excelant"],
    "mob":[9850734494,8010566988,8055242696]
}

In [2]:
print(student)

{'name': ['sanidhya', 'nikita', 'shreyash'], 'remark': ['ok', 'good', 'excelant'], 'mob': [9850734494, 8010566988, 8055242696]}

In [3]:
print(student["name"])

['sanidhya', 'nikita', 'shreyash']

In [4]:
print(student["mob"])

[9850734494, 8010566988, 8055242696]

In [5]:
print(student["name"][2])

shreyash

In [6]:
print(student["name"][0:2])      #here we can perform all operation which are applicable on list

['sanidhya', 'nikita']

In [7]:
student["name"].insert(0,"siddhant")

In [8]:
student["name"]

['siddhant', 'sanidhya', 'nikita', 'shreyash']

In [9]:
student["mob"].insert(0,9021075151)

In [10]:
student["mob"]

[9021075151, 9850734494, 8010566988, 8055242696]

In [11]:
# student.keys()
# student.values()
# del student["key"]

In [12]:
# not efficient to use numpy here it is not possible...!

In [13]:
import numpy as np

In [14]:
newStudent=np.array(student)

In [15]:
newStudent[]

SyntaxError: invalid syntax (1047492779.py, line 1)

In [16]:
student["remark"].append("bad")

# data Frame

In [17]:
import pandas as pd

In [18]:
my_database=pd.DataFrame(student)

In [19]:
my_database

       name    remark         mob
0  siddhant        ok  9021075151
1  sanidhya      good  9850734494
2    nikita  excelant  8010566988
3  shreyash       bad  8055242696

In [20]:
my_database["name"]

0    siddhant
1    sanidhya
2      nikita
3    shreyash
Name: name, dtype: object

In [21]:
my_database["name"][2]

'nikita'

In [22]:
my_database[["name","mob"]]

       name         mob
0  siddhant  9021075151
1  sanidhya  9850734494
2    nikita  8010566988
3  shreyash  8055242696

In [23]:
my_database.loc[2]

name          nikita
remark      excelant
mob       8010566988
Name: 2, dtype: object

In [24]:
my_database.loc[ [2,1] ]

       name    remark         mob
2    nikita  excelant  8010566988
1  sanidhya      good  9850734494