In [1]:
def sum(x,y):
    z=x+y
    return z

In [2]:
sum(20,45)

65

In [6]:
#so here we use lamda function

var=lambda x,y:x+y                 #lambda parameter:function body

In [7]:
var(20,65)

85

In [1]:
#first order function (function who takes function as a input)

list(filter(lambda x:x%5==0,[10,25,14,27,78,64,19,32,55,75]))

In [9]:
mylist=["sanidhya145@gmail.com","pramod@gmail.com","prem@yahoo.com","rohit@lw.com"]

In [10]:
list(filter(lambda email:email.split("@")[1]=="gmail.com",mylist))

['sanidhya145@gmail.com', 'pramod@gmail.com']

In [11]:
list(filter(lambda email:email.endswith("@gmail.com"),mylist))

['sanidhya145@gmail.com', 'pramod@gmail.com']

In [12]:
database={
    "name":["sanidhya","prem","om","rohit"],
    "e_id":[10,20,30,40]
}

In [13]:
import pandas as pd

In [14]:
db=pd.DataFrame(database)

In [15]:
db

       name  e_id
0  sanidhya    10
1      prem    20
2        om    30
3     rohit    40

In [16]:
res=list(db["name"].apply(lambda x:x+"@lw.com"))

In [17]:
res

['sanidhya@lw.com', 'prem@lw.com', 'om@lw.com', 'rohit@lw.com']